
<p class="lead">Order Summary</p>
<table class="table">
    <tr><td>Cart Items: <br/>{% for item in order.cart.cartitem_set.all %}
        <b>{{ item.item.get_title }}</b> --- {{ item.quantity }}<br/>
    {% endfor %}</td></tr>
    <tr><td>Cart Subtotal:{{ order.cart.subtotal }}</td></tr>
    <tr><td>Tax: {{ order.cart.tax_total }}</td></tr>
    <tr><td>Cart Total: {{ order.cart.total }}</td></tr>
    <tr><td>Shipping: {{ order.shipping_total_price }}</td></tr>
    <tr><td>Order Total: {{ order.order_total }}</td></tr>
</table>
</div>

<div class="col-sm-4 col-sm-offset-4 text-center">
    <p><b>User email</b><br/>{{ order.user }}</p>
    <p><b>Billing to</b><br/>{{ order.billing_address.get_address }}</p>
    <p><b>Shipping to</b><br/>{{ order.shipping_address.get_address }}</p>
